.stores-a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  font-weight: bolder;
}

.stores-text {
  text-decoration: underline;
  margin-top: 20px;
  font-weight: 600;
}
