@media screen and (max-width: 450px) {
  .first-photo {
    width: 80%;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .first-photo {
    display: none;
  }
  .text-1 {
    /* display: flex;
    flex-wrap: wrap; */
    font-size: 30px;
    /* align-items: center; */
    margin: 0 auto;
  }
}
.second-block-a {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-left: 15px;
}
@media screen and (max-width: 600px) {
  .second-block-a {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}

.third-block-a {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 600px) {
  .third-block-a {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}

.fourth-block-a {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 400px) {
  .fourth-block-a {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}

.subscribe-a {
  width: 100%;
}
#btn-subscribe-a {
  background-color: black;
  color: white;
}

.line-a {
  margin-top: 70px;
  background-color: #eee8e8;
  width: 100%;
  height: 1px;
}
